In [1]:
!pip install -r requirements.txt #--upgrade

from  scipy.optimize import linprog as lp
import numpy as np
import pandas as pd

import fooddatacentral as fdc
import warnings

Collecting pint>=0.18
  Using cached Pint-0.20.1-py3-none-any.whl (269 kB)
Requirement already satisfied: requests>=2.26.0 in /opt/conda/lib/python3.9/site-packages (from -r requirements.txt (line 6)) (2.26.0)
Collecting python-gnupg
  Using cached python_gnupg-0.5.0-py2.py3-none-any.whl (18 kB)
Collecting eep153_tools
  Using cached eep153_tools-0.11-py2.py3-none-any.whl (4.4 kB)
Collecting fooddatacentral
  Using cached fooddatacentral-1.0.9-py3-none-any.whl
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.9/site-packages (from requests>=2.26.0->-r requirements.txt (line 6)) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/conda/lib/python3.9/site-packages (from requests>=2.26.0->-r requirements.txt (line 6)) (2.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.9/site-packages (from requests>=2.26.0->-r requirements.txt (line 6)) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in /opt/conda/lib/python3.9/site-packages (from requests>=2.26.0->-r requirements.txt (line 6)) (3.1)
Installing collected packages: python-gnupg, fooddatacentral, eep153_tools, pint
  Attempting uninstall: pint
    Found existing installation: Pint 0.17
    Uninstalling Pint-0.17:
      Successfully uninstalled Pint-0.17
Successfully installed eep153_tools-0.11 fooddatacentral-1.0.9 pint-0.20.1 python-gnupg-0.5.0

In [2]:
# this function finds the dietary reference intakes for an individual given their age and sex
# for negative values (the last two in the series), this represents the maximum daily intake for those nutrients
def dietary_reference_intakes(age, sex):
    
    fdmin = pd.read_csv('./DRI Function Data/fdm.csv').drop('Source',axis=1).set_index('Nutrition')
    fdmax = pd.read_csv('./DRI Function Data/fdmax.csv').drop('Source',axis=1).set_index('Nutrition')
    fdri = pd.concat([fdmin,-fdmax])
    
    mdmin = pd.read_csv('./DRI Function Data/mdm.csv').drop('Source',axis=1).set_index('Nutrition')
    mdmax = pd.read_csv('./DRI Function Data/mdmax.csv').drop('Source',axis=1).set_index('Nutrition')
    mdri = pd.concat([mdmin,-mdmax])
    
    age_cutoffs = [3, 8, 13, 18, 30, 50]
    ac_i = 0
    while age_cutoffs[ac_i] < age:
        ac_i += 1
    if sex == 'female':
        selected_data = fdri[str(age_cutoffs[ac_i])]
        return selected_data
    else:
        selected_data = mdri[str(age_cutoffs[ac_i])]
        return selected_data

dietary_reference_intakes(9, 'female')

Nutrition
Energy (Calories)                  1600.0
Protein (g)                          34.0
Fiber, total dietary (g)             22.4
Folate, DFE (mcg)                   300.0
Calcium, Ca (mg)                   1300.0
Carbohydrate, by difference (g)     130.0
Iron, Fe (mg)                         8.0
Magnesium, Mg (mg)                  240.0
Niacin (mg)                          12.0
Phosphorus, P (mg)                 1250.0
Potassium, K (mg)                  4500.0
Riboflavin (mg)                       0.9
Thiamin (mg)                          0.9
Vitamin A, RAE (mcg)                600.0
Vitamin B-12 (mcg)                    1.8
Vitamin B-6 (mg)                      1.0
Vitamin C (mg)                       45.0
Vitamin E (mg)                       11.0
Vitamin K (mcg)                      60.0
Zinc, Zn (mg)                         8.0
Sodium, Na (mg)                   -2200.0
Energy (Calories)                 -2800.0
Name: 13, dtype: float64

In [3]:
### This block was written to pull data from FDC and pickle the data ###
############## No longer required after first runthrough ###############

# fdc_ids = pd.read_csv('./Diet Data/FDC_IDs.csv')
# id_list = fdc_ids.FDC_ID.tolist()

# fdc_ids = pd.read_csv('./Diet Data/food_prices.csv')['FDC ID'].tolist()
# fdc_ids

# apikey = "bruh"

# D = {}
# count = 0
# for food_id in id_list:
#     try:
#         count+=1
#         D[food_id] = fdc.nutrients(apikey,food_id).Quantity
#     except AttributeError:
#         warnings.warn("Couldn't find FDC Code %s." % food_id)

# fdc_ids
# FoodNutrients = pd.DataFrame(D,dtype=float)
# FoodNutrients
# print(fdc.nutrients(apikey,174036))
# FoodNutrients.to_pickle('./nutrients.pkl')

In [4]:
# read food nutrients data from pickle
food_nutrients_filled = pd.read_pickle('./Diet Data/nutrients.pkl')
food_nutrients_filled

,1662976,2471862,2473414,718108,2127166,2341256,2341313,2398177,2346401,174286,...,170379,2346404,172972,168107,1750343,2346411,168389,170383,1999629,1999634
"Ergosta-5,7-dienol",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.841,NaN
"Ergosta-7,22-dienol",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.543,NaN
25-hydroxycholecalciferol,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Alanine,NaN,NaN,NaN,NaN,2.921,NaN,NaN,NaN,NaN,0.287,...,0.104,NaN,NaN,NaN,NaN,NaN,0.115,NaN,NaN,NaN
"Alcohol, ethyl",NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.000,...,0.000,NaN,0.0,0.0,NaN,NaN,0.000,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
cis-Lutein/Zeaxanthin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
cis-Lycopene,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cis-beta-Carotene,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
trans-Lycopene,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
trans-beta-Carotene,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# read in minimum nutrient requirements
minNutrients = pd.read_csv('./Diet Data/diet_min.csv')

minNutrients = minNutrients.drop('Units', axis=1).set_index('Nutrients')
minNutrients

,F 18-22 (Cut),M 18-22 (Cut),F 18-22 (Bulk),M 18-22 (Bulk)
Nutrients,,,,
Energy,2100.0,2550.0,2750.0,3300.0
Protein,160.0,210.0,130.0,170.0
"Fiber, total dietary",30.0,35.0,40.0,45.0
"Calcium, Ca",1000.0,1000.0,1000.0,1000.0
"Carbohydrate, by difference",210.0,255.0,275.0,330.0
"Iron, Fe",18.0,8.0,18.0,8.0
"Magnesium, Mg",310.0,400.0,320.0,420.0
"Phosphorus, P",700.0,700.0,700.0,700.0
"Potassium, K",4700.0,4700.0,4700.0,4700.0
"Vitamin A, RAE",700.0,900.0,700.0,900.0
Vitamin B-12,2.4,2.4,2.4,2.4
Vitamin B-6,1.3,1.3,1.3,1.3
"Vitamin C, total ascorbic acid",75.0,90.0,500.0,750.0
Vitamin E (alpha-tocopherol),15.0,15.0,40.0,40.0
Vitamin K (phylloquinone),90.0,120.0,90.0,120.0
"Zinc, Zn",8.0,11.0,8.0,11.0
Total lipid (fat),52.5,65.0,55.0,75.0

In [6]:
# read in maximum nutrient requirements
maxNutrients = pd.read_csv('./Diet Data/diet_max.csv')

#nutrients_DRI['FDC F 19-30 (Cut)'] = nutrients_DRI[['F 19-30 (Cut)','Units']].T.apply(lambda x : fdc.units(x['F 19-30 (Cut)'],x['Units']))
maxNutrients = maxNutrients.drop('Unit', axis=1).set_index('Nutrition')
maxNutrients

,F 18-22 (Cut),M 18-22 (Cut),F 18-22 (Bulk),M 18-22 (Bulk)
Nutrition,,,,
"Sodium, Na",2300,2300,2300,2300
Energy,2500,3000,3500,4000
"Fiber, total dietary",70,70,70,70
"Vitamin C, total ascorbic acid",2000,2000,2000,2000

In [7]:
# select relevant nutritional information for each food
food_nutrients_list = minNutrients.index.tolist()

food_selected_nutrient_info = food_nutrients_filled.loc[food_nutrients_list]
food_selected_nutrient_info

,1662976,2471862,2473414,718108,2127166,2341256,2341313,2398177,2346401,174286,...,170379,2346404,172972,168107,1750343,2346411,168389,170383,1999629,1999634
Energy,347.00,256.000,226.00,385.00,410.00,231.000,281.000,176.00,NaN,475.00,...,141.000,NaN,1396.00,1638.00,NaN,NaN,85.000,179.000,NaN,NaN
Protein,6.12,11.630,9.68,23.08,64.10,29.400,24.600,19.12,2.27375,6.99,...,2.820,1.578125,12.64,7.10,0.101562,0.703125,2.200,3.380,2.890625,0.695625
"Fiber, total dietary",0.00,7.000,3.20,9.60,0.00,0.000,0.000,0.00,NaN,5.50,...,2.600,NaN,11.90,4.20,1.721000,NaN,2.100,3.800,1.717000,0.970600
"Calcium, Ca",0.00,233.000,0.00,77.00,513.00,10.000,22.000,13.00,7.80100,63.00,...,47.000,22.330000,36.00,11.00,3.874000,11.690000,24.000,42.000,5.465000,9.963000
"Carbohydrate, by difference",81.63,51.160,43.55,48.08,20.51,0.000,0.000,1.47,17.77125,20.22,...,6.640,17.327875,72.62,81.10,14.681938,14.571775,3.880,8.950,4.079375,3.837475
"Iron, Fe",0.00,6.280,1.13,1.92,0.00,2.740,1.780,1.47,0.38350,1.33,...,0.730,0.398000,2.88,1.49,0.000000,0.339800,2.140,1.400,0.226700,0.103100
"Magnesium, Mg",NaN,NaN,NaN,NaN,41.00,22.000,24.000,NaN,25.64000,32.00,...,21.000,19.140000,115.00,131.00,4.151000,6.179000,14.000,23.000,10.160000,8.089000
"Phosphorus, P",NaN,NaN,NaN,NaN,256.00,227.000,199.000,NaN,55.19000,101.00,...,66.000,36.730000,346.00,360.00,7.852000,12.960000,52.000,69.000,93.050000,19.090000
"Potassium, K",NaN,NaN,0.00,923.00,410.00,285.000,336.000,231.00,450.10000,274.00,...,316.000,486.400000,322.00,428.00,98.040000,85.640000,202.000,389.000,373.000000,192.800000
"Vitamin A, RAE",NaN,NaN,NaN,NaN,NaN,1.000,0.000,NaN,NaN,NaN,...,31.000,NaN,0.00,0.00,NaN,NaN,38.000,38.000,NaN,23.900000
Vitamin B-12,NaN,2.790,NaN,NaN,NaN,2.570,2.590,NaN,NaN,0.00,...,0.000,NaN,0.00,0.00,NaN,NaN,0.000,0.000,NaN,NaN
Vitamin B-6,NaN,1.395,NaN,NaN,NaN,0.354,0.139,NaN,0.15730,NaN,...,0.175,0.124100,0.28,0.15,0.032750,NaN,0.091,0.219,0.076830,0.078940
"Vitamin C, total ascorbic acid",0.00,0.000,NaN,NaN,0.00,0.000,0.000,NaN,10.90000,0.10,...,89.200,14.840000,0.00,0.00,NaN,8.059000,5.600,85.000,NaN,17.750000
Vitamin E (alpha-tocopherol),NaN,NaN,NaN,NaN,NaN,0.140,0.140,NaN,NaN,NaN,...,0.780,NaN,0.66,1.24,NaN,NaN,1.130,0.880,NaN,NaN
Vitamin K (phylloquinone),NaN,NaN,NaN,NaN,NaN,1.700,5.300,NaN,NaN,NaN,...,101.600,NaN,3.70,1.90,NaN,NaN,41.600,177.000,NaN,NaN
"Zinc, Zn",NaN,5.230,NaN,NaN,NaN,7.000,4.630,NaN,0.37810,0.61,...,0.410,0.337400,3.21,3.00,0.018280,0.085340,0.540,0.420,0.511000,0.082450
Total lipid (fat),0.00,2.330,1.61,13.46,6.41,12.000,19.500,10.29,0.36000,0.90,...,0.370,0.375000,2.73,4.30,0.100000,0.306300,0.120,0.300,0.370800,0.425000

In [8]:
# read in the prices for each food and convert to the correct units (hectograms / deciliters)
food_prices = pd.read_csv('./Diet Data/food_prices.csv')

food_prices['FDC Quantity'] = food_prices[['Quantity','Units']].T.apply(lambda x : fdc.units(x['Quantity'],x['Units']))
food_prices['FDC Price'] = food_prices['Price']/food_prices['FDC Quantity']

#food_prices_select = food_prices[['FDC ID', 'Food (Berkeley Bowl)', 'FDC Food Name', 'Regimen', 'FDC Price']]
#fp_cols = food_prices_select.set_index('FDC ID')
#food_prices_series = fp_cols['FDC Price']

food_prices_series = food_prices.set_index('FDC ID')['FDC Price']
food_prices_series

/opt/conda/lib/python3.9/site-packages/pandas/core/dtypes/cast.py:1990: UnitStrippedWarning: The unit of the quantity is stripped when downcasting to ndarray.
  result[:] = values

FDC ID
1662976     0.7253208425882471 / hectogram
2471862       0.92447175276192 / hectogram
2473414     2.0549755105475254 / hectogram
718108       4.992325762263019 / hectogram
2127166       9.38287387858839 / hectogram
2341256      2.180371773008439 / hectogram
2341313     2.4228802614118043 / hectogram
2398177     3.8750966770324764 / hectogram
2346401    0.48281235418488183 / hectogram
174286      0.4444519205647131 / hectogram
2106470     0.4949377786050501 / hectogram
167536      10.569124154522425 / hectogram
174036      1.3426151767059042 / hectogram
169091       4.523885620033687 / hectogram
168191       4.845760522823609 / hectogram
1105314    0.30644254443697977 / hectogram
746785      1.6953547962017084 / hectogram
2094328      0.551785547639865 / hectogram
2468422     2.9071623640112523 / hectogram
2341159     0.8575981998991737 / hectogram
173439      2.9056926155966862 / hectogram
747997      0.9678293309916124 / hectogram
2342982     3.0401745955294612 / hectogram
170154      0.6812283901512716 / hectogram
2342893     0.5855477683630348 / hectogram
173741      0.4371658235062752 / hectogram
168875     0.35053499687395534 / hectogram
168917      1.0560142358655635 / hectogram
169986      0.8575981998991737 / hectogram
2341362     1.5851236651092697 / hectogram
748967      0.7040094905770423 / hectogram
2341272     1.9378632846050734 / hectogram
173688       9.691521045647217 / hectogram
2343945      2.583817712806765 / hectogram
1999632     0.8783216525445522 / hectogram
748608       3.315999999999999 / deciliter
171706      0.5923363421721993 / hectogram
170379     0.32187490278992126 / hectogram
2346404     0.6150897114958084 / hectogram
172972       1.100106688302539 / hectogram
168107      3.4497934786689637 / hectogram
1750343     0.7253208425882471 / hectogram
2346411     1.1179205409974637 / deciliter
168389      0.8135057474621982 / hectogram
170383     0.39462744931093086 / hectogram
1999629     1.0780604620840513 / hectogram
1999634    0.32848877065546755 / hectogram
Name: FDC Price, dtype: object

In [9]:
def solve_subsistence_problem(FoodNutrients,Prices,dietmin,dietmax,max_weight=None,tol=1e-6):
    """Solve Stigler's Subsistence Cost Problem.

    Inputs:
       - FoodNutrients : A pd.DataFrame with rows corresponding to foods, columns to nutrients.
       - Prices : A pd.Series of prices for different foods
       - diet_min : A pd.Series of DRIs, with index corresponding to columns of FoodNutrients,
                    describing minimum intakes.
       - diet_max : A pd.Series of DRIs, with index corresponding to columns of FoodNutrients,
                    describing maximum intakes.
       - max_weight : Maximum weight (in hectograms) allowed for diet.
       - tol : Solution values smaller than this in absolute value treated as zeros.
       
    """
    try: 
        p = Prices.apply(lambda x:x.magnitude)
    except AttributeError:  # Maybe not passing in prices with units?
        warnings.warn("Prices have no units.  BE CAREFUL!  We're assuming prices are per hectogram or deciliter!")
        p = Prices

    p = p.dropna()

    # Compile list that we have both prices and nutritional info for; drop if either missing
    use = p.index.intersection(FoodNutrients.columns)
    p = p[use]

    # Drop nutritional information for foods we don't know the price of,
    # and replace missing nutrients with zeros.
    Aall = FoodNutrients[p.index].fillna(0)

    # Drop rows of A that we don't have constraints for.
    Amin = Aall.loc[Aall.index.intersection(dietmin.index)]
    Amin = Amin.reindex(dietmin.index,axis=0)
    idx = Amin.index.to_frame()
    idx['type'] = 'min'
    #Amin.index = pd.MultiIndex.from_frame(idx)
    #dietmin.index = Amin.index
    
    Amax = Aall.loc[Aall.index.intersection(dietmax.index)]
    Amax = Amax.reindex(dietmax.index,axis=0)
    idx = Amax.index.to_frame()
    idx['type'] = 'max'
    #Amax.index = pd.MultiIndex.from_frame(idx)
    #dietmax.index = Amax.index

    # Minimum requirements involve multiplying constraint by -1 to make <=.
    A = pd.concat([Amin,
                   -Amax])

    b = pd.concat([dietmin,
                   -dietmax]) # Note sign change for max constraints

    # Make sure order of p, A, b are consistent
    A = A.reindex(p.index,axis=1)
    A = A.reindex(b.index,axis=0)

    if max_weight is not None:
        # Add up weights of foods consumed
        A.loc['Hectograms'] = -1
        b.loc['Hectograms'] = -max_weight
        
    # Now solve problem!  (Note that the linear program solver we'll use assumes
    # "less-than-or-equal" constraints.  We can switch back and forth by
    # multiplying $A$ and $b$ by $-1$.)

    result = lp(p, -A, -b, method='interior-point')

    result.A = A
    result.b = b
    
    if result.success:
        result.diet = pd.Series(result.x,index=p.index)
    else: # No feasible solution?
        warnings.warn(result.message)
        result.diet = pd.Series(result.x,index=p.index)*np.nan  

    return result

In [10]:
food_fdcidx = food_prices[['FDC Food Name', 'FDC ID']].set_index('FDC ID')['FDC Food Name']
food_fdcidx

FDC ID
1662976                                         JASMINE RICE
2471862            Bread, multi-grain (includes whole-grain)
2473414                   English muffins, whole grain white
718108               Formulated Bar, SOUTH BEACH protein bar
2127166    Protein supplement, milk based, Muscle Milk, p...
2341256                                        Beef, brisket
2341313                                    Lamb, ground, raw
2398177             CHICKEN & APPLE SAUSAGE, CHICKEN & APPLE
2346401                  Potatoes, russet, without skin, raw
174286                  Beans, pinto, canned, drained solids
2106470                         PLAIN ORIGINAL YOGURT, PLAIN
167536                Snacks, beef jerky, chopped and formed
174036            Beef, ground, 80% lean meat / 20% fat, raw
169091                               Mango, dried, sweetened
168191                                        Dates, medjool
1105314                 Bananas, ripe and slightly ripe, raw
746785     Turkey, ground, 93% lean, 7% fat, pan-broiled ...
2094328                                                 TOFU
2468422                          Veggie burger patty, no bun
2341159                             Cheese, cottage, low fat
173439                     Cheese, low fat, cheddar or colby
747997                       Eggs, Grade A, Large, egg white
2342982    Nuts, mixed nuts, dry roasted, with peanuts, w...
170154                  Seeds, sunflower seed kernels, dried
2342893                 Chickpeas, from canned, no added fat
173741        Beans, kidney, all types, mature seeds, canned
168875     Rice, brown, medium-grain, cooked (Includes fo...
168917                                        Quinoa, cooked
169986                                      Cauliflower, raw
2341362    Chicken breast, baked, broiled, or roasted, sk...
748967                       Eggs, Grade A, Large, egg whole
2341272                       Pork, chop, lean and fat eaten
173688                            Fish, salmon, chinook, raw
2343945                                      Cereal, granola
1999632                                        Spinach, baby
748608                              Oil, olive, extra virgin
171706                             Avocados, raw, California
170379                                         Broccoli, raw
2346404      Sweet potatoes, orange flesh, without skin, raw
172972       Cereals, QUAKER, QUAKER MultiGrain Oatmeal, dry
168107     Rice cake, cracker (include hain mini rice cakes)
1750343                   Apples, honeycrisp, with skin, raw
2346411                                     Blueberries, raw
168389                                        Asparagus, raw
170383                                 Brussels sprouts, raw
1999629                              Mushrooms, white button
1999634                                         Tomato, roma
Name: FDC Food Name, dtype: object

In [13]:
# solve for our diet
### valid_groups: ###
valid_groups = ['F 18-22 (Cut)','M 18-22 (Cut)','F 18-22 (Bulk)','M 18-22 (Bulk)']

group = valid_groups[3] # select 0-3 for the group you want
tol = 1e-6

maxNut = maxNutrients.drop(['Energy','Fiber, total dietary'])[group]#maxNutrients[group]
#print()
result = solve_subsistence_problem(food_nutrients_filled, 
                                   food_prices_series, 
                                   minNutrients[group],
                                   #maxNut,
                                   maxNutrients[group],
                                   tol=tol)

maxNut#rients.drop(['Sodium, Na','Energy','Fiber, total dietary'])[group]

Nutrition
Sodium, Na                        2300
Vitamin C, total ascorbic acid    2000
Name: M 18-22 (Bulk), dtype: int64

In [14]:
print("Cost of diet for %s is $%4.2f per day.\n" % (group,result.fun))

# Put back into nice series
diet = result.diet
dietNamed = pd.concat([diet, food_fdcidx], axis=1)
dietNamed = dietNamed.set_index('FDC Food Name')[0]

print("\nDiet (in 100s of grams or milliliters):")
print(dietNamed[dietNamed >= tol])  # Drop items with quantities less than precision of calculation.

tab = pd.DataFrame({"Outcome":np.abs(result.A).dot(diet),"Recommendation":np.abs(result.b)})
print("\nWith the following nutritional outcomes of interest:")
print(tab)
print()

print("\nConstraining nutrients are:")
excess = tab.diff(axis=1).iloc[:,1]
print(excess.loc[np.abs(excess) < tol*100].index.tolist())

Cost of diet for M 18-22 (Bulk) is $21.16 per day.


Diet (in 100s of grams or milliliters):
FDC Food Name
JASMINE RICE                                                            1.179593
Bread, multi-grain (includes whole-grain)                               0.728960
Potatoes, russet, without skin, raw                                     3.605670
Nuts, mixed nuts, dry roasted, with peanuts, without salt added         3.390687
Chicken breast, baked, broiled, or roasted, skin not eaten, from raw    2.034459
Spinach, baby                                                           2.309739
Broccoli, raw                                                           7.246550
Name: 0, dtype: float64

With the following nutritional outcomes of interest:
                                    Outcome  Recommendation
Energy                          4000.000000          3300.0
Protein                          170.000000           170.0
Fiber, total dietary              53.311540            45.0
Calcium, Ca                     1181.980603          1000.0
Carbohydrate, by difference      330.000000           330.0
Iron, Fe                          29.658662             8.0
Magnesium, Mg                   1326.448243           420.0
Phosphorus, P                   2789.680863           700.0
Potassium, K                    8153.647632          4700.0
Vitamin A, RAE                   900.000000           900.0
Vitamin B-12                       2.400000             2.4
Vitamin B-6                        6.126853             1.3
Vitamin C, total ascorbic acid   750.000001           750.0
Vitamin E (alpha-tocopherol)      40.000000            40.0
Vitamin K (phylloquinone)        781.684734           120.0
Zinc, Zn                          24.695357            11.0
Total lipid (fat)                197.704448            75.0
Sodium, Na                      1516.878475          2300.0
Energy                          4000.000000          4000.0
Fiber, total dietary              53.311540            70.0
Vitamin C, total ascorbic acid   750.000001          2000.0


Constraining nutrients are:
['Protein', 'Carbohydrate, by difference', 'Vitamin A, RAE', 'Vitamin B-12', 'Vitamin C, total ascorbic acid', 'Vitamin E (alpha-tocopherol)', 'Energy']